@import "../../sass/variables.scss";

.navbar {
  background: #673ab7 !important;
  width: 100%;

  .sms-logo {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .navbar-toggler {
    cursor: pointer;
    outline: 0;
    border-color: transparent;
    padding: 0.1em;
  }

  .nav-item {
    .nav-link,
    .btn {
      font-size: $font-size-small;
      text-transform: uppercase;
      font-weight: $font-weight-medium-bold;
    }

    .nav-link {
      cursor: pointer;
    }

    .dropdown-menu {
      font-size: $font-size-xs-medium;
      margin-top: 0.6em;
      border-radius: 0;
      border-top: 2px solid $color-primary;
    }
  }
}
